<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/load/css :: css"></head>
<head>
<title>[[${@environment.getProperty('html.title')}]] - 後台</title>
</head>
<body th:class="theme- + (${employeeSession.empTheme} != 'null' and ${employeeSession.empTheme} != '' ? ${employeeSession.empTheme} : 'red')">
    <!-- Page Loader -->
    <div th:include="admin/load/pageloader :: pageloader" class="page-loader-wrapper"></div>
    <!-- #END# Page Loader -->
    
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    
    <!-- Search Bar -->
    <div th:include="admin/load/searchbar :: searchbar" class="search-bar"></div>
    <!-- #END# Search Bar -->
    
    <!-- Top Bar -->
    <nav th:include="admin/load/navbar :: navbar" id="navbar" class="navbar"></nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside th:include="admin/load/leftsidebar :: leftsidebar" id="leftsidebar" class="sidebar"></aside>
        <!-- #END# Left Sidebar -->
        
        <!-- Right Sidebar -->
        <aside th:include="admin/load/rightsidebar :: rightsidebar" id="rightsidebar" class="right-sidebar"></aside>
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
			<!-- breadcrumbs -->
            <div th:include="admin/load/breadcrumbs :: index" class="row clearfix block-header"></div>
            <!-- #END# breadcrumbs -->
            <div th:if="${employeeSession != null}"> [[${employeeSession.empName}]], [[${employeeSession.empAccount}]], [[${employeeSession.empPassword}]] </div>
            
        </div>
    </section>
<!-- <div th:if="${employeeSession != null}" th:include="front/chat :: chat"></div> -->

<div th:include="admin/load/js :: js"></div>
<div th:include="admin/load/js :: jquery-datatable"></div>
<div th:include="admin/load/js :: flot-charts"></div>
<div th:include="admin/load/js :: JVector-map"></div>
<div th:include="admin/load/js :: datetime-picker"></div>
<div th:include="admin/load/js :: morris-chart"></div>
<div th:include="admin/load/js :: range-slider"></div>
<div th:include="admin/load/js :: light-gallery"></div>
<div th:include="admin/load/js :: chat"></div>

<script th:src="@{/admin/js/admin.js}"></script>
<script th:src="@{/admin/js/index/index.js}"></script>
    
</body>
</html>
