<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/load/css :: css"></head>
<head>
<title>[[${@environment.getProperty('html.title')}]] - 員工管理</title>
<link rel="stylesheet" th:href="@{/admin/css/employee.css}" />

<style>

  #imageFile {
    display: none;
  }

  .upload-file {
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
  }

  .upload-file::before {
    content: '選擇檔案';
    display: inline-block;
    background-color: #428bca;
    color: #fff;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
  }

  .upload-file:hover::before {
    background-color: #3276b1;
  }
  
</style>
</head>
<body class="theme-red">

    <!-- Page Loader -->
    <div th:include="admin/load/pageloader :: pageloader" class="page-loader-wrapper"></div>
    <!-- #END# Page Loader -->
    
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    
    <!-- Search Bar -->
    <div th:include="admin/load/searchbar :: searchbar" class="search-bar"></div>
    <!-- #END# Search Bar -->
    
    <!-- Top Bar -->
    <nav th:include="admin/load/navbar :: navbar" id="navbar" class="navbar"></nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside th:include="admin/load/leftsidebar :: leftsidebar" id="leftsidebar" class="sidebar"></aside>
        <!-- #END# Left Sidebar -->
        
        <!-- Right Sidebar -->
        <aside th:include="admin/load/rightsidebar :: rightsidebar" id="rightsidebar" class="right-sidebar"></aside>
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
        
			<!-- breadcrumbs -->
            <div th:include="admin/load/breadcrumbs :: employee" class="row clearfix block-header"></div>
            <!-- #END# breadcrumbs -->
            
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                        	<h2 th:text="${employee.empId != null and employee.empId != '' ? '員工 - 修改' : '員工 - 新增'}"></h2>
                        </div>
                        <div class="body">
							<form class="form-horizontal" role="form" id="mainForm" method="POST" th:object="${employee}" enctype="multipart/form-data">
								
								<input id="empId" type="hidden" th:field="*{empId}">
								
								<div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="empAccount">員工帳號</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="empAccount" class="form-control" th:field="*{empAccount}" placeholder="請輸入帳號">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="empPassword">員工密碼</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="empPassword" class="form-control" th:field="*{empPassword}" placeholder="請輸入密碼">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            	
								<div class="row clearfix">
									<div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="department">請選擇部門</label>
                                    </div>
                                	<div class="col-lg-10 col-md-10 col-sm-8 col-xs-7" style="padding-left:0;padding-right:30px">
                                    	<select id="department" class="form-control show-tick" th:field="*{deptId}">
                                        	<option value="0">-- 請選擇 --</option>
                                        	<option th:each="department:${departmentList}"
												th:value="${department.DEPT_ID}" th:text="${department.DEPT_LOC+ '-' +department.DEPT_NAME}"></option>
                                    	</select>
                                	</div>
                            	</div>
								
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="empName">員工姓名</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="empName" class="form-control" th:field="*{empName}" placeholder="請輸入姓名">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label"> 
                                        <label for="empPhone">電話號碼</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="empPhone" class="form-control" th:field="*{empPhone}" placeholder="請輸入連絡電話">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label"> 
                                        <label for="empEmail">電子信箱</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="empEmail" class="form-control" th:field="*{empEmail}" placeholder="請輸入E-mail">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label"> 
                                        <label for="empJob">職稱</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="empJob" class="form-control" th:field="*{empJob}" placeholder="請輸入職稱">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label"> 
                                        <label for="empLevel">等級</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="empLevel" class="form-control" th:field="*{empLevel}" placeholder="請輸入等級(0:最高管理員 1:一般管理員)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                 <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label"> 
                                        <label for="empSalary">薪水</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="empSalary" class="form-control" th:field="*{empSalary}" placeholder="請輸入薪水">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label"> 
                                        <label for="empImage">員工圖片</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
										<label class="upload-file" for="imageFile"> 上傳圖片</label>
                                    	<input type="file" id="imageFile" name="imageFile" />
                                    	
										<div id="preview" th:if="*{empPicture} !=null and *{empPicture} != '' " class="form-group">
											<img id="empImg" th:src="*{empPicture}" style="height:110px;width:90px;" >
										</div>
										<div id="preview" th:if="*{empPicture} eq null or *{empPicture} eq '' " class="form-group">
											<img id="empImg"><span class="text">預覽圖</span>
										</div>
										<input type="hidden" id="originalImage" name="originalImage" th:value="*{empImage}" th:if="*{empImage}!=null"/>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                	<div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label"> </div>
                                	<div class="row clearfix">
                                		<div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                                			<button id="add-submit" class="btn btn-primary waves-effect" th:if="*{empId} eq null" type="button">新 增</button>
                                    		<button id="update-submit" class="btn btn-primary waves-effect" th:if="*{empId} ne null" type="button">修 改</button>
                                    		<button id="backBtn" class="btn" onclick="history.back()" type="button" >返回列表</button>
                                		</div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    
<div th:include="admin/load/js :: js"></div>
<div th:include="admin/load/js :: jquery-datatable"></div>

<script th:src="@{/admin/js/admin.js}"></script>
<script th:src="@{/admin/js/employee/employee.js}"></script>

</body>
</html>
	