<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/load/css :: css"></head>
<head th:include="admin/load/css :: datetime-picker"></head>
<head>
<title>[[${@environment.getProperty('html.title')}]] - 排班管理</title>
<link rel="stylesheet" th:href="@{/admin/css/common.css}" />

<!-- 引入 FullCalendar v5 的 CSS -->
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.css" rel="stylesheet">
<!-- 引入 FullCalendar v5 的 JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.js"></script>

</head>
<body th:class="theme- + (${employeeSession.empTheme} != 'null' and ${employeeSession.empTheme} != '' ? ${employeeSession.empTheme} : 'red')">

    <!-- Page Loader -->
    <div th:include="admin/load/pageloader :: pageloader" class="page-loader-wrapper"></div>
    <!-- #END# Page Loader -->
    
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    
    <!-- Search Bar -->
    <div th:include="admin/load/searchbar :: searchbar" class="search-bar"></div>
    <!-- #END# Search Bar -->
    
    <!-- Top Bar -->
    <nav th:include="admin/load/navbar :: navbar" id="navbar" class="navbar"></nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside th:include="admin/load/leftsidebar :: leftsidebar" id="leftsidebar" class="sidebar"></aside>
        <!-- #END# Left Sidebar -->
        
        <!-- Right Sidebar -->
        <aside th:include="admin/load/rightsidebar :: rightsidebar" id="rightsidebar" class="right-sidebar"></aside>
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
			<!-- breadcrumbs -->
            <div th:include="admin/load/breadcrumbs :: calendar" class="row clearfix block-header"></div>
            <!-- #END# breadcrumbs -->
            
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>排班管理</h2>
                        </div>
                        <div class="body">
                        	<div class="row clearfix">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
										<li role="presentation" class="active"><a href="#calendar_animation" data-toggle="tab">排班管理</a></li>
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content">
										<div role="tabpanel" class="tab-pane fade in active" id="calendar_animation">
											<div class="table-responsive">
												<!-- THE CALENDAR -->
												<div id="calendar"></div>
												
												<form class="form-horizontal" role="form" id="calendarForm" method="POST" enctype="multipart/form-data">
												<input type="hidden" id="calendarTitle" name="title">
												<input type="hidden" id="calendarEmpId" name="empId">
												<div class="row clearfix">
												    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label"> 
												        <label for="calendarStart">排休開始時間</label>
												    </div>
												    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
												        <div class="form-group">
												        	<div class="form-line">
												            	<input type="text" id="calendarStart" class="datepicker form-control" placeholder="請選擇開始時間" name="start">
												        	</div>
												        </div>
												    </div>
												</div>
												<div class="row clearfix">
												    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label"> 
												        <label for="calendarEnd">排休結束時間</label>
												    </div>
												    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
												        <div class="form-group">
												        	<div class="form-line">
																<input type="text" id="calendarEnd" class="datepicker form-control" placeholder="請選擇結束時間" name="end">
												        	</div>
												        </div>
												    </div>
												</div>
												<div class="row clearfix">
													<div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label"> </div>
													<div class="row clearfix">
														<div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
															<button id="addCalendar" class="btn btn-primary waves-effect" type="button">新 增</button>
														</div>
												    </div>
												</div>
												
												</form>
												
											</div>
										</div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- <div th:if="${employeeSession != null}" th:include="front/chat :: chat"></div> -->
<div th:include="admin/load/js :: js"></div>
<div th:include="admin/load/js :: jquery-datatable"></div>
<div th:include="admin/load/js :: chat"></div>
<div th:include="admin/load/js :: datetime-picker"></div>

<script th:src="@{/admin/js/admin.js}"></script>
<script th:src="@{/admin/js/calendar/calendar.js}"></script>

</body>
</html>
	