<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/load/css :: css"></head>
<head>
<title>[[${@environment.getProperty('html.title')}]] - 商品管理</title>
</head>
<body class="theme-red">

    <!-- Page Loader -->
    <div th:include="admin/load/pageloader :: pageloader" class="page-loader-wrapper"></div>
    <!-- #END# Page Loader -->
    
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    
    <!-- Search Bar -->
    <div th:include="admin/load/searchbar :: searchbar" class="search-bar"></div>
    <!-- #END# Search Bar -->
    
    <!-- Top Bar -->
    <nav th:include="admin/load/navbar :: navbar" id="navbar" class="navbar"></nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside th:include="admin/load/leftsidebar :: leftsidebar" id="leftsidebar" class="sidebar"></aside>
        <!-- #END# Left Sidebar -->
        
        <!-- Right Sidebar -->
        <aside th:include="admin/load/rightsidebar :: rightsidebar" id="rightsidebar" class="right-sidebar"></aside>
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
        
			<!-- breadcrumbs -->
            <div th:include="admin/load/breadcrumbs :: product" class="row clearfix block-header"></div>
            <!-- #END# breadcrumbs -->
            
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>商品管理</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                        	<div class="row clearfix">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                                        <li role="presentation" class="active"><a href="#product_animation" data-toggle="tab">商品清單</a></li>
                                        <li role="presentation"><a href="#product_collection_animation" data-toggle="tab">商品分類</a></li>
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="product_animation">
                            				<div class="table-responsive">
                                				<table id="product-table" class="table table-bordered table-striped table-hover basic-dataTable dataTable">
                                    				<thead>
                                        				<tr>
                                        					<th>ID</th>
                                            				<th>商品名稱</th>
                                            				<th>商品分類</th>
                                            				<th>商品價格</th>
                                            				<th>商品敘述</th>
                                            				<th>商品狀態</th>
                                            				<th>最新修改時間</th>
                                        				</tr>
                                    				</thead>
                                				</table>
                            				</div>
                        				</div>
                                        <div role="tabpanel" class="tab-pane fade" id="product_collection_animation">
                                        	<div class="table-responsive">
                               					<table id="product-collection-table" class="table table-bordered table-striped table-hover basic-dataTable dataTable">
                                    				<thead>
                                        				<tr>
                                        					<th>商品分類ID</th>
                                        					<th>分類名稱</th>
                                            				<th>關鍵字</th>
                                            				<th>分類狀態</th>
                                        				</tr>
                                    				</thead>
                                				</table>
                            				</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- <div th:if="${employeeSession != null}" th:include="front/chat :: chat"></div> -->
<div th:include="admin/load/js :: js"></div>
<div th:include="admin/load/js :: jquery-datatable"></div>
<div th:include="admin/load/js :: chat"></div>

<script th:src="@{/admin/js/admin.js}"></script>
<script th:src="@{/admin/js/product/product.js}"></script>
<script th:src="@{/admin/js/product/product-collection.js}"></script>
</body>
</html>
	