<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/load/css :: css"></head>
<head th:include="admin/load/css :: datetime-picker"></head>
<head>
<title>[[${@environment.getProperty('html.title')}]] - 最新消息管理</title>
<link rel="stylesheet" th:href="@{/admin/css/common.css}" />
</head>
<body th:class="theme- + (${employeeSession.empTheme} != 'null' and ${employeeSession.empTheme} != '' ? ${employeeSession.empTheme} : 'red')">

    <!-- Page Loader -->
    <div th:include="admin/load/pageloader :: pageloader" class="page-loader-wrapper"></div>
    <!-- #END# Page Loader -->
    
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    
    <!-- Search Bar -->
    <div th:include="admin/load/searchbar :: searchbar" class="search-bar"></div>
    <!-- #END# Search Bar -->
    
    <!-- Top Bar -->
    <nav th:include="admin/load/navbar :: navbar" id="navbar" class="navbar"></nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside th:include="admin/load/leftsidebar :: leftsidebar" id="leftsidebar" class="sidebar"></aside>
        <!-- #END# Left Sidebar -->
        
        <!-- Right Sidebar -->
        <aside th:include="admin/load/rightsidebar :: rightsidebar" id="rightsidebar" class="right-sidebar"></aside>
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
        
			<!-- breadcrumbs -->
            <div th:include="admin/load/breadcrumbs :: employee" class="row clearfix block-header"></div>
            <!-- #END# breadcrumbs -->
            
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                        	<h2 th:text="${news.newsId != null and news.newsId != '' ? '最新消息 - 修改' : '最新消息 - 新增'}"></h2>
                        </div>
                        <div class="body">
							<form class="form-horizontal" role="form" id="mainForm" method="POST" th:object="${news}" enctype="multipart/form-data">
								
								<input id="newsId" type="hidden" th:field="*{newsId}">
								
								<div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="newsName">最新消息名稱</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="newsName" class="form-control" th:field="*{newsName}" placeholder="請輸入最新消息名稱">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
								<div class="row clearfix">
									<div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="promotion">活動名稱</label>
                                    </div>
                                	<div class="col-lg-10 col-md-10 col-sm-8 col-xs-7" style="padding-left:0;padding-right:30px">
                                    	<select id="promotion" class="form-control show-tick" th:field="*{pmId}">
                                        	<option value="0">-- 公告 --</option>
                                        	<option th:each="promotion:${promotionList}" th:value="${promotion.PM_ID}" th:text="${promotion.PM_NAME}"></option>
                                    	</select>
                                	</div>
                            	</div>
                            	
								<div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="newsContent">最新消息內容</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                            	<textarea id="newsContent" class="form-control" rows="5" placeholder="請輸入最新消息內容" th:field="*{newsContent}"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label"> 
                                        <label for="newsStatus">商品分類狀態</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                        	<div class="switch">
                                        		<input type="hidden" id="newsStatus" th:field="*{newsStatus}" />
                                            	<label>下架<input type="checkbox" id="checkStatus" class="form-control" th:checked="*{newsStatus} == '0' ? 'false' : 'true'"><span class="lever switch-col-cyan"></span>上架</label>
                                        	</div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label"> 
                                        <label for="newsStart">前台顯示開始時間</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                        	<div class="form-line">
                                            	<input type="text" id="newsStart" class="datepicker form-control" placeholder="請選擇開始時間" th:field="*{newsStart}">
                                        	</div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label"> 
                                        <label for="newsEnd">前台顯示結束時間</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                        	<div class="form-line">
                                            	<input type="text" id="newsEnd" class="datepicker form-control" placeholder="請選擇結束時間" th:field="*{newsEnd}">
                                        	</div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row clearfix">
                                	<div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label"> </div>
                                	<div class="row clearfix">
                                		<div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                                			<button id="add-submit" class="btn btn-primary waves-effect" th:if="*{newsId} eq null" type="button">新 增</button>
                                    		<button id="update-submit" class="btn btn-primary waves-effect" th:if="*{newsId} ne null" type="button">修 改</button>
                                    		<button id="backBtn" class="btn" onclick="history.back()" type="button" >返回列表</button>
                                		</div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
<div th:include="admin/load/js :: js"></div>
<div th:include="admin/load/js :: jquery-datatable"></div>
<div th:include="admin/load/js :: datetime-picker"></div>

<script th:src="@{/admin/js/admin.js}"></script>
<script th:src="@{/admin/js/news/news.js}"></script>
</body>
</html>
	