<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="front/load/css :: css"></head>
<head th:include="front/load/js :: js"></head>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<title>[[${@environment.getProperty('html.title')}]]-密碼修改</title>
<link type="image/x-icon" rel="shortcut icon" href="https://www.reallygood.com.tw/images/favicon_tkb.ico" />
</head>

<body th:include="front/load/header :: header" id="header" class="full-width"></body>
<body>
<!-- 會員登入區塊 -->
<section class="login-area" th:include="front/load/login :: login"></section>
<form id="mainForm" method="POST" th:object="${memberAccount}" enctype="multipart/form-data" role="form" >
	<input type="hidden" id="password" th:field="*{password}"/>
</form>

<section class="secbox-changepd">
	<article class="edm-wrapper">             
	    <h1 class="title">修改密碼
	    	<div class="bg-hexagon-inregister"><img th:src="@{/front/images/bg_hexagon.jpg}"></div>
	    </h1>    	   
	         <div class="title-sup-center">親愛的會員您好，您可以定期變更密碼以確保個人帳戶安全。</div>  
	
	        <article class="change-pd">        
	        	<dl>
					<dt><span>*</span>舊密碼</dt>
					<dd>
						<input type="password" placeholder="&nbsp;&nbsp;6~12碼英文與數字" onfocus="this.placeholder = ''"onblur="this.placeholder = '&nbsp;&nbsp;6~12碼英文與數字'" id="oldPW" name="oldPW" maxlength="12"/>
					</dd>
				</dl>
			<dl>
				<dt><span>*</span>新密碼</dt>
				<dd>
	            	<input type="password" placeholder="&nbsp;&nbsp;6~12碼英文與數字" onfocus="this.placeholder = ''"onblur="this.placeholder = '&nbsp;&nbsp;6~12碼英文與數字'" id="memberPassword" name="memberPassword" maxlength="12"/>
	        	</dd>
			</dl>
	
	        <dl>
				<dt><span>*</span>確認新密碼</dt>
				<dd>
					<input type="password" placeholder="&nbsp;&nbsp;6~12碼英文與數字" onfocus="this.placeholder = ''"onblur="this.placeholder = '&nbsp;&nbsp;6~12碼英文與數字'" id="checkPassword" name="checkPassword" maxlength="12"/>
				</dd>
	        </dl>
	
<!-- 	        <dl> -->
<!-- 				<dt><span>*</span>驗證碼</dt> -->
<!-- 				<dd> -->
<!-- 		            <div class="qa-pic"> -->
<!-- 		            <input type="text" placeholder="&nbsp;&nbsp;請注意大小寫" onfocus="this.placeholder = ''" -->
<!-- 		    			onblur="this.placeholder = '&nbsp;&nbsp;請注意大小寫'"> -->
<!-- 		    		<aside>dwf8Hp</aside> -->
<!-- 		    		</div> -->
<!-- 	        	</dd> -->
<!-- 	        </dl> -->
	         
	        <a class="btn-submit" onclick="updatePassword()" style="cursor: pointer;">送出</a>
	</article>
	</article><!-- edm-wrapper End-->
</section><!-- secbox-changepd End -->

<!-- 固定底部廣告 -->
<section class="secbox-3" th:include="front/load/bottomBanner :: bottomBanner"></section>

<!-- 版權頁尾 -->
<section class="footerArea" th:include="front/load/footer :: footer"></section>

<script>
	
	$(function(){

	});
	
	function updatePassword(){
		
		if($("#oldPW").val() == ""){
			alert("請輸入舊密碼");
			return false;
		}
		
		if($("#oldPW").val().length<6){
			alert("密碼必須大於6碼");
			return false;
		}
		
		if($("#memberPassword").val() != "" || $("#checkPassword").val() != ""){
			if($("#memberPassword").val().length<6){
				alert("密碼必須大於6碼");
				$("#memberPassword").focus();
				return false;
			} else if($("#checkPassword").val()!=$("#memberPassword").val()){
				alert("確認密碼需與密碼相同");
				$("#checkPassword").focus();
				return false;
			} 
		}else{
			alert("請輸入新密碼");
			$("#memberPassword").focus();
			return false;
		}
// 		alert($("#oldPW").val());
		$.ajax({
			url: "/forecast/member/checkPassword",
			cache: false,
			async: false,
			dataType: "text",
			type: "POST",
			data: {
				oldPW : $("#oldPW").val()
			},
			error: function(xhr) {
				alert("發生錯誤,請重整頁面");
			},
			success: function(data) {
				
				if(data == "T"){
					$("#password").val($("#memberPassword").val());
					
					var link = "/forecast/member/updatePasswordSubmit";

					$("#mainForm").attr("action", link);
					$("#mainForm").submit();
				}else{
					alert("舊密碼輸入錯誤");
					return false;
				}

			}
		});
		
	}
	
</script>

</body>
</html>
