<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/load/css :: css"></head>
<head>
<title>[[${@environment.getProperty('html.title')}]] - 訂單管理</title>
</head>
<body th:class="theme- + (${employeeSession.empTheme} != 'null' and ${employeeSession.empTheme} != '' ? ${employeeSession.empTheme} : 'red')">

    <!-- Page Loader -->
    <div th:include="admin/load/pageloader :: pageloader" class="page-loader-wrapper"></div>
    <!-- #END# Page Loader -->
    
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    
    <!-- Search Bar -->
    <div th:include="admin/load/searchbar :: searchbar" class="search-bar"></div>
    <!-- #END# Search Bar -->
    
    <!-- Top Bar -->
    <nav th:include="admin/load/navbar :: navbar" id="navbar" class="navbar"></nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside th:include="admin/load/leftsidebar :: leftsidebar" id="leftsidebar" class="sidebar"></aside>
        <!-- #END# Left Sidebar -->
        
        <!-- Right Sidebar -->
        <aside th:include="admin/load/rightsidebar :: rightsidebar" id="rightsidebar" class="right-sidebar"></aside>
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
        
			<!-- breadcrumbs -->
            <div th:include="admin/load/breadcrumbs :: order" class="row clearfix block-header"></div>
            <!-- #END# breadcrumbs -->
            
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>訂單管理</h2>
                        </div>
                        <div class="body">
                        	<div class="row clearfix">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                                        <li role="presentation" class="active"><a href="#order_animation" data-toggle="tab">訂單清單</a></li>
                                        <li role="presentation"><a href="#order_detail_animation" data-toggle="tab">訂單明細</a></li>
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="order_animation">
                            				<div class="table-responsive">
                                				<table id="order-table" class="table table-bordered table-striped table-hover basic-dataTable dataTable">
                                    				<thead>
                                        				<tr>
                                        					<th>ID</th>
                                        					<th>收件人</th>
                                            				<th>性別</th>
                                            				<th>電子信箱</th>
                                            				<th>聯絡電話</th>
                                            				<th>收件地址</th>
                                            				<th>方式</th>
                                            				<th>小計(未扣cupon)</th>
                                            				<th>總計(扣除cupon)</th>
                                            				<th>運費</th>
                                            				<th>訂單狀態</th>
                                            				<th>付款方式</th>
                                            				<th>備註</th>
                                            				<th>優惠券</th>
                                            				<th>下訂時間</th>
                                        				</tr>
                                    				</thead>
                                				</table>
                            				</div>
                        				</div>
                                        <div role="tabpanel" class="tab-pane fade" id="order_detail_animation">
                                        	<div class="table-responsive">
                               					<table id="order-detail-table" class="table table-bordered table-striped table-hover basic-dataTable dataTable">
                                    				<thead>
                                        				<tr>
                                        					<th>訂單ID</th>
                                        					<th>收件人</th>
                                            				<th>聯絡電話</th>
                                            				<th>訂單品項</th>
                                            				<th>訂單數量</th>
                                            				<th>訂單原價</th>
                                            				<th>訂單優惠後價格</th>
                                            				<th>訂單創建時間</th>
                                        				</tr>
                                    				</thead>
                                				</table>
                            				</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<div th:include="admin/load/js :: js"></div>
<div th:include="admin/load/js :: jquery-datatable"></div>
<div th:include="admin/load/js :: chat"></div>

<script th:src="@{/admin/js/admin.js}"></script>
<script th:src="@{/admin/js/order/order.js}"></script>
<script th:src="@{/admin/js/order/order-detail.js}"></script>
</body>
</html>
	