<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="js">
	<style>
		.grecaptcha-badge { visibility: hidden; }
	</style>
	<script type="text/javascript" th:src="@{/front/js/lib/jquery-3.3.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/front/js/update.js}"></script>
	<script type="text/javascript" th:src="@{/front/js/scroll-react.js}"></script>
	<script type="text/javascript" th:src="@{/front/js/animate.js}"></script>
	<script type="text/javascript" th:src="@{/front/js/customize.js}"></script>
	<script type="text/javascript" th:src="@{/front/js/windows.js}"></script>
	<script type="text/javascript" th:src="@{/front/js/lib/slick-1.8.1/slick/slick.js}"></script>
	<script type="text/javascript" th:src="@{/front/js/lib/slick-1.8.1/slick/slick.min.js}"></script>
	<script type="text/javascript" th:src="@{/front/js/lib/alertifyjs/alertify.js}"></script>
	<script type="text/javascript" th:src="@{/front/js/lib/alertifyjs/alertify.min.js}"></script>
    <script type="text/javascript" th:src="@{/front/js/ADslick.js}"></script>
    <script type="text/javascript" th:src="@{/front/js/isMobile.js}"></script>
    <script type="text/javascript" th:src="@{/front/js/dropDownMenu.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
</head>
</html>