<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- <head th:include="front/load/css :: css"></head> -->
<!-- <head th:include="front/load/js :: js"></head> -->
<head>
<!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> -->
<!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
<!-- <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7" /> -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" /> -->
<!-- <meta property="og:title" content="112學測落點分析｜AI大數據精準落點選填大學校系志願必備-甄戰"/> -->
<!-- <meta property="og:description" content="112學測落點分析，AI大數據精準落點2023學測成績！唯一依據使用者行為智能運算法，動態推測高低估校系；設定追蹤，每日動態更新申請入學志願校系趨勢變動，獨家校系參考功能等你使用！學測申請入學6志願選填就交給甄戰AI大數據落點系統！"/> -->
<!-- <meta property="og:image" th:content="@{/front/images/login_pic.png}"/> -->
<title>[[${@environment.getProperty('html.title')}]]</title>


<!-- <script type="text/javascript" th:src="@{/front/js/baseForm.js}"></script> -->
<!-- <script type="text/javascript" th:src="@{/front/js/index.js}"></script> -->
</head>

<body>
</body>
</html>
