<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- <head th:include="front/load/css :: css"></head> -->
<head th:include="front/load/js :: js"></head>
<head>
<!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> -->
<!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
<!-- <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7" /> -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" /> -->
<!-- <meta property="og:title" content="112學測落點分析｜AI大數據精準落點選填大學校系志願必備-甄戰"/> -->
<!-- <meta property="og:description" content="112學測落點分析，AI大數據精準落點2023學測成績！唯一依據使用者行為智能運算法，動態推測高低估校系；設定追蹤，每日動態更新申請入學志願校系趨勢變動，獨家校系參考功能等你使用！學測申請入學6志願選填就交給甄戰AI大數據落點系統！"/> -->
<!-- <meta property="og:image" th:content="@{/front/images/login_pic.png}"/> -->
<title>[[${@environment.getProperty('html.title')}]]</title>

<!-- <script type="text/javascript" th:src="@{/front/js/baseForm.js}"></script> -->
<!-- <script type="text/javascript" th:src="@{/front/js/index.js}"></script> -->

<link type="text/css" rel="stylesheet" th:href="@{/front/css/google-login.css}">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-XXXXXXX');
</script>
<!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-XXXXXXX" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div th:if="${memberSession != null}"> [[${memberSession.memAccount}]], [[${memberSession.memPassword}]], [[${memberSession.memEmail}]] </div>
<section class="login-area" th:include="front/load/login :: login"></section>
<div th:include="front/load/header :: header" id="header"></div>
<div th:if="${memberSession != null}" th:include="front/chat :: chat"></div>

<script type="text/javascript" th:src="@{/front/js/index.js}"></script>
<script type="text/javascript" th:src="@{/front/js/summary.js}"></script>



    <h1>圖片上傳</h1>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" id="file" name="file" />
        <button type="submit">上傳</button>
    </form>
    <h1>PDF上傳</h1>
    <form id="uploadForm2" enctype="multipart/form-data">
        <input type="file" id="file2" name="file2" />
        <button type="submit">上傳</button>
    </form>
    <div id="result"></div>
    
    
	<input name="prompt"/>
	<button type="button" th:onclick="chat()">送出</button>




<dl th:each="orderDetail:${frontOrderDetails}">
	<dd><div th:text="${orderDetail.ORD_ID}"></div></dd>
	<dd><div th:text="${orderDetail.PD_ID}"></div></dd>
	<dd><div th:text="${orderDetail.ORDD_NUMBER}"></div></dd>
	<dd><div th:text="${orderDetail.ORDD_PRICE}"></div></dd>
	<dd><div th:text="${orderDetail.ORDD_DISCOUNT_PRICE}"></div></dd>
	<dd><div th:text="${orderDetail.PD_NAME}"></div></dd>
</dl>

</body>
</html>
