.mapImg {
	min-width: 180px;
	border: 1px solid lightgray;
	display: inline-block;
	min-height: 130px;
	max-width: 300px;
	position: relative;
	z-index: 1;
}

.preview {
	display: inline-block;
	position: relative;
}

.preview span.text {
	position: absolute;
	display: inline-block;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: lightgray;
}