<section>
	<form id="chatForm" class="chat-area">
		<div class="chat-container" v-if="isChatOpen">
			<div class="chat-header">
				<span>服務員 {{ empName }}</span>
				<button type="button" class="chat-close" @click="closeChatRoom">&times;</button>
			</div>
			<div class="chat-messages" id="chatMessages"></div>
			<div class="chat-input">
				<input v-model="msgContent" type="text" placeholder="Type your message...">
				<button id="sendMessage" class="send-message" @click.prevent="sendMessage">Send</button>
			</div>
		</div>
		<a class="btn-msg" @click.prevent="openChatRoom" v-if="!isChatOpen" href="javascript:void(0);">
			<i class="material-icons">sms</i>
		</a>
	</form>
	
</section>

<script>
new Vue({
	el: '#chatForm',
	data: {
		// model 屬性
		memId:'',
		memName:'',
		memAccount:'',
		msgContent:'',
		roomId: '',
		roomUrl:'',
		// 其他屬性
		empId:'',
		empName:'',
		msgContentList:[],
		memberSession: '',
		msgDirection: '1',
		isChatOpen: false
	},
	methods: {
		openChatRoom() {
			if(this.memberSession == ''){
				this.warning('請登入')
			} else {
	 			this.isChatOpen = true;
	 			this.getChatRoom();
			}
		},
		closeChatRoom() {
			this.isChatOpen = false;
			
			if(this.stompClient){
				this.stompClient.disconnect(() => {
			        console.log('Disconnected');
				});
				this.stompClient = null;
			}

			if(this.socket){
				this.socket.close();
				this.socket = null;
			}
			
		},
		sendMessage() {
		    if (this.memberSession == '') {
		        this.warning('請登入');
		        return;
		    }
		    if (this.msgContent == '') return;
		    
		    if (!this.stompClient || !this.roomUrl) return;
		    
		    const msg = {
		        memId: this.memId,
		        empId: this.empId,
		        msgContent: this.msgContent,
				roomId: this.roomId,
		        roomUrl: this.roomUrl,
				msgDirection: this.msgDirection
		    };
		    this.stompClient.send('/app/chat/' + this.roomUrl, {}, JSON.stringify(msg));
		    this.appendMessage(msg);
		    this.msgContent = '';
		    
		},
		
		appendMessage(msg) {
// 		    const firstChar = msg.MEM_NAME ? msg.MEM_NAME.charAt(0) : (this.firstName || '');
// 		    const html = msg.empId
// 		        ? `<div class="message chat-right">
// 		               <div class="message-right-text">${msg.msgContent}</div>
// 		           </div>`
// 		        : `<div class="message chat-left">
// 		               <div class="avatar"><span class="first-char">${firstChar}</span></div>
// 		               <div class="message-left-text">${msg.msgContent}</div>
// 		           </div>`;

		    const chatContainer = document.getElementById('chatMessages');
// 		    chatContainer.insertAdjacentHTML('beforeend', html);
		    chatContainer.scrollTo({
		        top: chatContainer.scrollHeight,
		        behavior: 'smooth'
		    });
		},
		
		getChatRoom() {
			axios.post('/holidayDessert/getChatRoom',{
				memId: this.memId
			})
			.then(response => {
				if (response.data.code == "200") {
					this.roomId = response.data.result[0].ROOM_ID;
					this.roomUrl = response.data.result[0].ROOM_URL;
					this.connectWebSocket();
				}
			})
			.catch(error => {
				console.log(error);
				alert("執行失敗");
			});
		},
		connectWebSocket() {
		    if (!this.roomUrl) return;
		    // 建立連線
		    this.socket = new SockJS('/holidayDessert/ws-chat');  // 對應你的 Spring WebSocket endpoint
		    this.stompClient = Stomp.over(this.socket);

		    const self = this;
		    this.stompClient.connect({}, function(frame) {
		        // 訂閱聊天室房間
		        self.stompClient.subscribe('/topic/chat/' + self.roomUrl, function(messageOutput) {
		            const message = JSON.parse(messageOutput.body);
		            self.msgContentList.push(message);
		            // 加入 appendMessage 顯示
		            self.appendMessage(message);
		        });
		    });
		},
		loadMemberSession() {
			var memberSession = localStorage.getItem('memberSession');
			if (memberSession) {
				this.updateSession(JSON.parse(memberSession));
			}
		},
		updateSession(memberSession) {
			this.memberSession = memberSession;
			this.memId = memberSession.memId;
			this.memName = memberSession.memName;
			this.memAccount = memberSession.memAccount;
			this.memEmail = memberSession.memEmail;
			this.memGoogleUid = memberSession.memGoogleUid;
		},
		success(message) {
			swal({
				title: message,
				type: "success",
				showCancelButton: false,
				confirmButtonColor: "#3085d6",
				confirmButtonText: "確定"
			});
		},
		warning(message) {
			swal({
				title: message,
				type: "warning",
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "確定",
				closeOnConfirm: false
			});
		}
	},
	mounted() {
		this.loadMemberSession();
	}
});

</script>