<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<div th:fragment="index" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="body">
			<ol class="breadcrumb">
				<li><a href="/holidayDessert/admin/index"><i class="material-icons">home</i>首頁</a></li>
			</ol>
		</div>
	</div>
	
	<div th:fragment="employee" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="body">
			<ol class="breadcrumb">
				<li><a href="/holidayDessert/admin/index"><i class="material-icons">home</i>首頁</a></li>
				<li><a href="/holidayDessert/admin/employee/list"><i class="material-icons">group_add</i>員工管理</a></li>
			</ol>
		</div>
	</div>
	
	<div th:fragment="authority" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="body">
			<ol class="breadcrumb">
				<li><a href="/holidayDessert/admin/index"><i class="material-icons">home</i>首頁</a></li>
				<li><a href="/holidayDessert/admin/authority/list"><i class="material-icons">lock</i>權限管理</a></li>
			</ol>
		</div>
	</div>
	
	<div th:fragment="function" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="body">
			<ol class="breadcrumb">
				<li><a href="/holidayDessert/admin/index"><i class="material-icons">home</i>首頁</a></li>
				<li><a href="/holidayDessert/admin/function/list"><i class="material-icons">list</i>功能管理</a></li>
			</ol>
		</div>
	</div>
	
	<div th:fragment="member" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="body">
			<ol class="breadcrumb">
				<li><a href="/holidayDessert/admin/index"><i class="material-icons">home</i>首頁</a></li>
				<li><a href="/holidayDessert/admin/member/list"><i class="material-icons">people</i>會員管理</a></li>
			</ol>
		</div>
	</div>
	
	<div th:fragment="company" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="body">
			<ol class="breadcrumb">
				<li><a href="/holidayDessert/admin/index"><i class="material-icons">home</i>首頁</a></li>
				<li><a href="/holidayDessert/admin/company/list"><i class="material-icons">business</i>公司管理</a></li>
			</ol>
		</div>
	</div>
	
	<div th:fragment="order" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="body">
			<ol class="breadcrumb">
				<li><a href="/holidayDessert/admin/index"><i class="material-icons">home</i>首頁</a></li>
				<li><a href="/holidayDessert/admin/order/list"><i class="material-icons">payment</i>訂單管理</a></li>
			</ol>
		</div>
	</div>
	
	<div th:fragment="product" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="body">
			<ol class="breadcrumb">
				<li><a href="/holidayDessert/admin/index"><i class="material-icons">home</i>首頁</a></li>
				<li><a href="/holidayDessert/admin/product/list"><i class="material-icons">shop</i>商品管理</a></li>
			</ol>
		</div>
	</div>
	
	<div th:fragment="promotion" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="body">
			<ol class="breadcrumb">
				<li><a href="/holidayDessert/admin/index"><i class="material-icons">home</i>首頁</a></li>
				<li><a href="/holidayDessert/admin/promotion/list"><i class="material-icons">event</i>優惠活動管理</a></li>
			</ol>
		</div>
	</div>
	
	<div th:fragment="coupon" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="body">
			<ol class="breadcrumb">
				<li><a href="/holidayDessert/admin/index"><i class="material-icons">home</i>首頁</a></li>
				<li><a href="/holidayDessert/admin/coupon/list"><i class="material-icons">card_giftcard</i>優惠券管理</a></li>
			</ol>
		</div>
	</div>
	
	<div th:fragment="news" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="body">
			<ol class="breadcrumb">
				<li><a href="/holidayDessert/admin/index"><i class="material-icons">home</i>首頁</a></li>
				<li><a href="/holidayDessert/admin/news/list"><i class="material-icons">fiber_new</i>最新消息管理</a></li>
			</ol>
		</div>
	</div>
	
	<div th:fragment="cart" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="body">
			<ol class="breadcrumb">
				<li><a href="/holidayDessert/admin/index"><i class="material-icons">home</i>首頁</a></li>
				<li><a href="/holidayDessert/admin/cart/list"><i class="material-icons">shopping_cart</i>購物車管理</a></li>
			</ol>
		</div>
	</div>
	
	<div th:fragment="message" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="body">
			<ol class="breadcrumb">
				<li><a href="/holidayDessert/admin/index"><i class="material-icons">home</i>首頁</a></li>
				<li><a href="/holidayDessert/admin/message/list"><i class="material-icons">message</i>客服聊天紀錄管理</a></li>
			</ol>
		</div>
	</div>
	
	<div th:fragment="calendar" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="body">
			<ol class="breadcrumb">
				<li><a href="/holidayDessert/admin/index"><i class="material-icons">home</i>首頁</a></li>
				<li><a href="/holidayDessert/admin/calendar/list"><i class="material-icons">date_range</i>排班管理</a></li>
			</ol>
		</div>
	</div>
	
</html>