<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<section th:fragment="chat">
		<form id="chatForm" class="chat-area">
			<div class="chat-container" style="display:none;">
				<div class="chat-header">
					<span id="member-name"></span>
					<button type="button" class="chat-close" id="closeChatRoom">&times;</button>
				</div>
				<div class="chat-messages" id="chatMessages"></div>
				<div class="chat-input">
					<input id="msgContent" type="text" placeholder="Type your message...">
					<button id="sendMessage" type="button" class="send-message">Send</button>
				</div>
			</div>
		</form>
	</section>
</html>