<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="css">

<!-- bootstrap & fontawesome -->
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/assets/font-awesome/4.5.0/css/font-awesome.min.css}" />

<link rel="stylesheet" th:href="@{/assets/css/jquery-ui.min.css}" />

<!-- text fonts -->
<link rel="stylesheet" th:href="@{/assets/css/fonts.googleapis.com.css}" />

<!-- ace styles -->
<link rel="stylesheet" th:href="@{/assets/css/ace.min.css}" class="ace-main-stylesheet" id="main-ace-style" />

<link rel="stylesheet" th:href="@{/assets/css/ace-skins.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/ace-rtl.min.css}" />

</head>
</html>