<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="js">
    <!-- JQuery -->
    <script th:src="@{/assets/plugins/jquery/jquery.min.js}"></script>
    <!-- Bootstrap -->
    <script th:src="@{/assets/plugins/bootstrap/js/bootstrap.js}"></script>
    <!-- Select -->
    <script th:src="@{/assets/plugins/bootstrap-select/js/bootstrap-select.js}"></script>
    <!-- SlimScroll -->
    <script th:src="@{/assets/plugins/jquery-slimscroll/jquery.slimscroll.js}"></script>
    <!-- Bootstrap Notify -->
    <script th:src="@{/assets/plugins/bootstrap-notify/bootstrap-notify.js}"></script>
    <!-- Waves Effect -->
    <script th:src="@{/assets/plugins/node-waves/waves.js}"></script>
    <!-- JQuery Knob -->
    <script th:src="@{/assets/plugins/jquery-knob/jquery.knob.min.js}"></script>
    <!-- AutoSize -->
    <script th:src="@{/assets/plugins/autosize/autosize.js}"></script>
    <!-- Moment -->
    <script th:src="@{/assets/plugins/momentjs/moment.js}"></script>
    <!-- Google Maps API -->
<!--     <script src="https://maps.google.com/maps/api/js?v=3&sensor=false"></script> -->
    <!-- GMaps -->
    <script th:src="@{/assets/plugins/gmaps/gmaps.js}"></script>
    <!-- Editable Table -->
    <script th:src="@{/assets/plugins/editable-table/mindmup-editabletable.js}"></script>
    <!-- JQuery NesTable -->
    <script th:src="@{/assets/plugins/nestable/jquery.nestable.js}"></script>
    <!-- SweetAlert -->
    <script th:src="@{/assets/plugins/sweetalert/sweetalert.min.js}"></script>
    <!-- Wait Me -->
    <script th:src="@{/assets/plugins/waitme/waitMe.js}"></script>
    <!-- JQuery CountTo -->
    <script th:src="@{/assets/plugins/jquery-countto/jquery.countTo.js}"></script>
    <!-- Validation -->
    <script th:src="@{/assets/plugins/jquery-validation/jquery.validate.js}"></script>
    <!-- JQuery Steps -->
    <script th:src="@{/assets/plugins/jquery-steps/jquery.steps.js}"></script>
    <!-- ChartJs -->
    <script th:src="@{/assets/plugins/chartjs/Chart.bundle.js}"></script>
    <!-- SparkLine Chart -->
    <script th:src="@{/assets/plugins/jquery-sparkline/jquery.sparkline.js}"></script>
    <!-- Dropzone Plugin Js -->
    <script th:src="@{/assets/plugins/dropzone/dropzone.js}"></script>
    <!-- theme Js -->
    <script th:src="@{/admin/js/load/theme.js}"></script>
</div>
<div th:fragment="jquery-datatable">
<!-- JQuery DataTable -->
    <script th:src="@{/assets/plugins/jquery-datatable/jquery.dataTables.js}"></script>
    <script th:src="@{/assets/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{/assets/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js}"></script>
    <script th:src="@{/assets/plugins/jquery-datatable/extensions/export/buttons.flash.min.js}"></script>
    <script th:src="@{/assets/plugins/jquery-datatable/extensions/export/jszip.min.js}"></script>
    <script th:src="@{/assets/plugins/jquery-datatable/extensions/export/pdfmake.min.js}"></script>
    <script th:src="@{/assets/plugins/jquery-datatable/extensions/export/vfs_fonts.js}"></script>
    <script th:src="@{/assets/plugins/jquery-datatable/extensions/export/buttons.html5.min.js}"></script>
    <script th:src="@{/assets/plugins/jquery-datatable/extensions/export/buttons.print.min.js}"></script>
</div>
<div th:fragment="flot-charts">
    <!-- FLot Charts -->
    <script th:src="@{/assets/plugins/flot-charts/jquery.flot.js}"></script>
    <script th:src="@{/assets/plugins/flot-charts/jquery.flot.resize.js}"></script>
    <script th:src="@{/assets/plugins/flot-charts/jquery.flot.pie.js}"></script>
    <script th:src="@{/assets/plugins/flot-charts/jquery.flot.categories.js}"></script>
    <script th:src="@{/assets/plugins/flot-charts/jquery.flot.time.js}"></script>
</div>
<div th:fragment="JVector-map">
    <!-- JVectorMap -->
    <script th:src="@{/assets/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js}"></script>
    <script th:src="@{/assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
</div>
<div th:fragment="datetime-picker">
	<!-- Bootstrap Material Date time Picker -->
    <script th:src="@{/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js}"></script>
</div>
<div th:fragment="morris-chart">
    <!-- Chart -->
    <script th:src="@{/assets/plugins/raphael/raphael.min.js}"></script>
    <script th:src="@{/assets/plugins/morrisjs/morris.js}"></script>
</div>
<div th:fragment="range-slider">
    <!-- RangeSlider -->
    <script th:src="@{/assets/plugins/ion-rangeslider/js/ion.rangeSlider.js}"></script>
</div>
<div th:fragment="light-gallery">
    <!-- Light Gallery -->
    <script th:src="@{/assets/plugins/light-gallery/js/lightgallery-all.js}"></script>
</div>
<div th:fragment="nouislider">
    <!-- noUISlider Plugin Js -->
    <script th:src="@{/assets/plugins/nouislider/nouislider.js}"></script>
</div>
<div th:fragment="chat">
    <!-- web socket -->
    <script th:src="@{/assets/plugins/stompjs/stompjs.js}"></script>
    <script type="text/javascript" th:src="@{/front/js/app.js}"></script>
</div>
</body>
</html>