<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/load/css :: css"></head>
<head>
<title>[[${@environment.getProperty('html.title')}]] - 優惠券發放</title>
<link rel="stylesheet" th:href="@{/admin/css/common.css}" />
</head>
<body class="theme-red">

    <!-- Page Loader -->
    <div th:include="admin/load/pageloader :: pageloader" class="page-loader-wrapper"></div>
    <!-- #END# Page Loader -->
    
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    
    <!-- Search Bar -->
    <div th:include="admin/load/searchbar :: searchbar" class="search-bar"></div>
    <!-- #END# Search Bar -->
    
    <!-- Top Bar -->
    <nav th:include="admin/load/navbar :: navbar" id="navbar" class="navbar"></nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside th:include="admin/load/leftsidebar :: leftsidebar" id="leftsidebar" class="sidebar"></aside>
        <!-- #END# Left Sidebar -->
        
        <!-- Right Sidebar -->
        <aside th:include="admin/load/rightsidebar :: rightsidebar" id="rightsidebar" class="right-sidebar"></aside>
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
        
			<!-- breadcrumbs -->
            <div th:include="admin/load/breadcrumbs :: coupon" class="row clearfix block-header"></div>
            <!-- #END# breadcrumbs -->
            
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>優惠券發放</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                            			<li><a href="javascript:void(0)" onclick="issueDailyCoupon()">發放優惠券(當日)</a></li>
                            			<li><a href="javascript:void(0)" onclick="issueWeeklyCoupon()">發放優惠券(一週)</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="body">
							<form class="form-horizontal" role="form" id="issueCoupon" method="POST" enctype="multipart/form-data">
								<input type="hidden" name="members">
								
								<div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                    <label for="department">優惠券種類</label>
                                </div>
								<div>
									<div class="col-lg-10 col-md-10 col-sm-8 col-xs-7" style="padding-left: 0; padding-right: 30px">
										<select id="coupon-id" class="form-control show-tick" name="couponId">
											<option value="0">-- 請選擇 --</option>
											<option th:each="coupon:${couponList}" th:value="${coupon.CP_ID}" th:text="${coupon.CP_NAME}"></option>
										</select>
									</div>
								</div>
								<div class="row clearfix">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<!-- Nav tabs -->
										<ul class="nav nav-tabs tab-nav-right" role="tablist">
											<li role="presentation" class="active"><a href="#issue-coupon_animation" data-toggle="tab">預計發放名單</a></li>
										</ul>
										<!-- Tab panes -->
										<div class="tab-content">
											<div role="tabpanel" class="tab-pane fade in active" id="issue-coupon_animation">
												<div class="table-responsive">
													<table id="issue-coupon-table" class="table table-bordered table-striped table-hover basic-dataTable dataTable">
														<thead>
															<tr>
																<th><a href="javascript:void(0)" onclick="checkAll()">全選</a></th>
																<th>名字</th>
																<th>性別</th>
																<th>帳號</th>
																<th>聯絡電話</th>
																<th>電子信箱</th>
																<th>生日</th>
																<th>總金額</th>
															</tr>
														</thead>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
<div th:include="admin/load/js :: js"></div>
<div th:include="admin/load/js :: jquery-datatable"></div>

<script th:src="@{/admin/js/admin.js}"></script>
<script th:src="@{/admin/js/coupon/member-coupon.js}"></script>

</body>
</html>
	